.slack_bold {
  font-weight: bold;
}

.slack_code {
  padding: 2px 3px 1px;
  border: 1px solid rgba(29, 28, 29, 0.13);
  border-radius: 3px;
  background-color: rgba(29, 28, 29, 0.04);
  color: #e01e5a;
}