.nav-bar {
    background-color: #000;
    color: #fff;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    animation: nav-bar 1.5s;
}

.nav-content {
    height: 64px;
    box-sizing: content-box;
    width: 95%;
    margin-right: auto;
    padding: 15px 0;
}

.nav-logo {
}

.nav-logo-image {
    height: 64px;
}

.nav-link-menu {
    float: right;
}

.nav-link {
    line-height: 64px;
    padding: 15px 25px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: hsla(0, 0%, 100%, .5);
}

.nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nav-overlay {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 991px) {
    .nav-overlay.on {
        display: block;
    }
    .nav-link-menu {
        top: 0px;
        display: none;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        overflow: visible;
        min-width: 200px;

        transition: transform .4s;
        -webkit-transition: -webkit-transform .4s;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    .nav-link-menu.on {
        display: block;
    }
    .nav-link {
        color: rgba(0,0,0,.5);
        padding: 40px 60px;
        -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out;
        transition: background-color .2s ease-in-out,color .2s ease-in-out;
        color: #000;
        font-size: 40px;
        line-height: 1.2em;
        display: block;
        position: relative;
    }

    .nav-link:hover {
        background-color: #000;
        opacity: 1;
        color: #fff;
        text-decoration: none;
    }
    .nav-button {
        display: block;
        padding: 0;
    }

    .nav-menu-icon {
        height: 64px;
        transition: transform .4s;
        -webkit-transition: -webkit-transform .4s;
    }

    .nav-menu-icon.on {
        transform: rotateZ(-45deg);
        -webkit-transform: rotateZ(-45deg);
    }
}

@media screen and (max-width: 479px) {
    .nav-link {
        padding: 25px;
    }
}